# build outputs
build/
install/
out/
bin/
obj/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

deprecated/

CMakeUserPresets.json

# object / binary junk
*.obj
*.o
*.exe
*.dll
*.a
*.lib
*.pdb

# IDE
.vs/
.vscode/
.idea/